body{
    background-color: black;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: visible;
}

.pulse-anim {
    text-align: center;
    width: 300px;
    height: 80px;
    border-radius:30px ;
    background-color:rgb(138, 43, 226);
    margin: 100px auto ;
    box-shadow: 0 0 0 rgb(138, 43, 226);
    animation: pulse 1.3s infinite;
    
  }

  @keyframes pulse{
    to {
      box-shadow: 0 0 0 18px rgb(138, 43, 226, 0.01);
    }
  }

h1{
    color: white; 
    display: center;
    font-family: 'Comfortaa', cursive;
   
    animation: apparition 0.8s ease-out;
  }

  @keyframes apparition {
    from {
    opacity: 0;
    transform: translateY(-100px);
      
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
  }


::-webkit-scrollbar{
    background-color: black;
    border-radius: 80vw;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(206, 122, 217), rgb(138, 43, 226), blue ) ;
    border-radius: 80vw;
}


li{
    text-decoration: none;
}

button{
    display: inline-block;
    position: relative;
    left: 46%;
    transform: translateX(-100%);
    color: rgb(104, 104, 104);
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    background-color: black;
    border: 0px;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 10;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: rgb(173, 173, 173);
    animation: apparition 0.8s ease-out;
  }

  @keyframes apparition {
    from {
    opacity: 0;
    transform: translateY(-100px);
      
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
  }


button::before{
content: '';
background: linear-gradient(45deg,#8c00ff, #170099,#8c00ff);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(0px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 10s linear infinite;
opacity: 0;
transition: opacity .1s ease-in-out;
border-radius: 5px;
}

button:active {
color: #000
}

button:active:after {
background: black;
}

button:hover:before {
opacity: 1;
}

button:after {
z-index: -1;
content: '';
position: absolute;
width: 100%;
height: 100%;
background: rgb(0, 0, 0);
left: 0;
top: 0;
border-radius: 0px;
}

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}


img{
    height: 30px;
    width: 30px;
    display: flex;
    padding: 5px;
    cursor: pointer;
    display: block;
    position: relative;
    left: 95%;
    transform: translateX(0%);

    animation: apparition 0.8s ease-out;
  }

  @keyframes apparition {
    from {
    opacity: 0;
    transform: translateY(-100px);
      
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
  }


.logo{
    size: ;
display: block;
width: 80px;
height: 60px;
position: relative;
right: 0%;
left: 100%;
margin-top: -90px;

}
.title{
    margin-top: -100px;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;

 
    
}

.sky{
    width: 110%;
    height: 1%;
    display: flex;
    position: relative;
    right: 100%;
    left: 0%;
    margin-left: -15px;
    margin-top: -150px;
}
.m1{
    width: 110%;
    height: 1%;
    display: flex;
    position: relative;
    right: 100%;
    left: 0%;
    margin-left: -15px;
    margin-top: -150px;
}

.social{
    margin-top: 100px;
}

.top-page{
    color: whitesmoke;
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -100px;
    
    animation: apparition 0.8s ease-out;
  }

  @keyframes apparition {
    from {
    opacity: 0;
    transform: translateY(-100px);
      
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
  }


.midle-page{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 60px;
    font-family: 'Comfortaa', cursive;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -50px;
    text-decoration: none;
    margin: 15%;

    animation: apparition 0.8s ease-out;
  }

  @keyframes apparition {
    from {
    opacity: 0;
    transform: translateY(-100px);
      
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
  }



.slide{
    text-decoration: none;
    color: #A9A9A9;
}

/* pied de page */


footer{
    background-color: linear-gradient(black,white);
    padding: 25px 100px;
    color: #828282;
    font-family: 'Comfortaa';
    animation: apparition 0.8s ease-out;
}

@keyframes apparition {
  from {
  opacity: 0;
  transform: translateY(-100px);
    
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}


footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: linear-gradient(black,white);
}